
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libre+Franklin:ital,wght@0,300;1,200;1,300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:opsz@8..144&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,600;1,500;1,600&display=swap');

body {
    font-family:montserrat regular;
    margin: 0;
    padding: 0;
}

header {
    width: 98.7%;
    height: 15vh;
    background-image:linear-gradient(90deg, #FFA800, #F2FB03, #ADEB14, #0688E4, #7C0484);   
    color: #800080;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 1rem 0.5rem;  
}

.logo img {
    width: 8vw; 
    height: auto;
    margin-left: 1.5rem;   
}


.site-name h1 {   
    font-size: 2.3rem; 
    color: black;  
    padding-right: 20rem;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #f2f2f2;
}

nav ul {
    list-style: none;
    width: 90%;
    display: flex;
    justify-content: center;
    background: #ADEB14;
    padding-right: 1rem;
}

nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

nav a {
    color: #000000;
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: bold;  
    text-transform: uppercase;
    background: #ffff;
    transition: background-color 0.3s ease;
    margin-right: 1rem;
    border-radius: 10%;
}

nav a:hover {
    background-color: #ADEB14;
    font-size: 1rem;
    color: #7C0484; 
  }

main{
    margin: 0;
    padding:0;
}


.hero {
       
    color: #fff;
    text-align: center;
    padding: 5rem 0; 
    background-image: url('Img/lâmpadas\ color\ Idealize\ NS.svg'); 
    background-size: contain; 
    background-position: center;
}


.hero-content {
    background: rgba(128, 0, 128, 0.6);
    padding: 1rem;
   }

.hero h2 {
    font-size: 2rem; 
}


.cta-button {
   
    display: inline-block;
    background-color: #7C0484;
    color: #fff;
    text-decoration: none;
    padding: 1rem 2rem; 
    border-radius: 0.5rem;
    margin-top: 2rem; 
    font-size: 1rem;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.cta-button:hover{
   
    background-color: #ADEB14;
    font-size: 1.1rem;
    color: #7C0484;
  }


.cta-button2 {
    margin-left: 65rem;
    width: 10%;
    height:15% ;
    background-color: #7C0484;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem; 
    border-radius: 0.5rem; 
    font-size: 1rem;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.cta-button2:hover{   
    background-color: #0688E4;
    font-size: 1.1rem;
    color: #7C0484; 
  }


.about {
    background-color: #f5f5f5; 
    padding: 4rem 0; 
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}


.container {
    max-width: 98%; 
    margin: 0 auto;
}


ul {
text-align: left;
margin-top: 2rem;
}

li{
margin-top: 2rem;   
}


h3 {
    font-size: 2rem;
    background-image:linear-gradient(90deg,#7C0484,#0688E4,#ADEB14,#F2FB03,#FFA800);
    color: white;
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}


.services {   
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 1rem; 
}

.service {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px #7C0484;
}

.service ol {
    padding-left: 1rem;
}


.services h4 {
    font-size: 1rem;
    color: #f2f2f2;
    padding: 0.8rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    background-image:linear-gradient(90deg, #0688E4, #F2FB03);
}

.projeto {    
    background-color: rgba(174, 235, 20, 0.1);
    text-align: center;
    margin-top: 0.8rem;
    padding-top: 0;
    padding-bottom: 0;
}

.projeto h5 {
    font-size: 1rem;
    color: #f2f2f2;
    padding: 0.8rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    background-image:linear-gradient(90deg, #0688E4, #F2FB03);
}

.projeto img {
    max-width: 50%;
    height: auto;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    border:5px #FFA800;
    border-style: ridge;
}

.contact {
    background-color: #f9f9f9; 
    padding: 4rem 0; 
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}

.contact-form {
    max-width: 25rem; 
    margin: 0 auto;
}

.contact-form label,
.contact-form input,
.contact-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem; 
}

.contact-form button {
    background-color: #FFA800;
    color: black;
    padding: 1rem 2rem; 
    border: none;
    border-radius: 0.5rem; 
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #F2FB03;
    font-size: 0.9rem;
}

.social-links {
    text-align: center;
}

.social-links a {
    display: inline-block;
    margin: 1rem; 
    text-decoration: none;
}

.social-links img {
    width: 3rem; 
    height: 3rem; 
}

.videos {
    background-color: #f5f5f5; 
    padding: 4rem 0; 
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    
}

.map {
    background-color: #f9f9f9; 
    padding: 4rem 0; 
    text-align: center;
    padding-top: 0;
    padding-bottom: 2rem;
}

.map iframe {
    width: 50%;
    height: 25rem;
}


footer {
    width: 100%;
    height: 0;
    background-image:linear-gradient(90deg,#7C0484,#0688E4,#ADEB14,#F2FB03,#FFA800);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;    
}
